@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

:root{
    --bg-color:#E8C5E5;
    --primary-color: #F19ED2;
    --secondary-color: #91DDCF;
    --font:"Nunito",sans-serif;
}